  
  .modal{
    width:100%;
    height:100%;
    
    background-color: rgba(0, 0, 0, 0.35)
  }
  .modalContainer {
    width: 578px;
    height: 460px;
    border-radius: 12px;
    background-color: #e6ebf7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 1px;
    display: flex;
    flex-direction: column;
    padding:20px 30px 30px 30px;
  }
  
  .modalContainer .title {
    display:flex;
    font-weight: 400;
    font-size: 22px;
    color:#0C1A97;
    align-items: center;
    gap: 8px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  
  .business_days {
    background-color: #FDFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:520px;
    height:200px;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px;

   
  }
 .edit{
    display: flex;
    align-items: center;
    gap: 7px;
  }

 .business_days h2{
width: 120px;

  }

   .select_days{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 10px;
  }
 .select_days p{
    font-size: 12px;
  }
 
 .select_days select {
    height: 30px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    padding: 0 5px 0 5px;
    width:95px;
    
  }
  .days{
    background-color: #FDFBFB;
    display: flex;
    flex-direction: row;
    width:520px;
    height:155px;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px;
    padding:  10px;
    align-items: flex-start;
    gap:20px;

  }

 .button_days{
    display: flex;
    gap:10px;
    width: 387px;
    justify-content: space-between;
    margin-left: 50px;
  }

 .button_days button{
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    padding:0px 3px 0px 3px;
    height: 30px;
    width: 45px;
    font-size: 12px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25) inset;
    color: black;
    
  }
  .button_days button:focus{
    background: rgba(187, 202, 242, 0.60);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25) inset;
 
  }
  .days_edit{
    width: 387px;
    height: 92px;
    border-radius: 6px;
    border: 0.5px solid #D6D6D6;
    background: rgba(189, 206, 252, 0.3);
    margin-top: 12px;
  }
  .work_hours{
    display: flex;
    gap:30px;
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;

  }
  .work_hours h2{
    width: 100px;
    font-size: 13px;
  }
  .select_time{
    display: flex;
    align-items: center;
    gap:15px;
    
  }
  .select_time select {
    display: flex;
    width: 95px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 0.5px solid #A9A9A9;
    font-size: 12px;
    padding: 0 5px 0 5px;
    
  }
  .select_time p{
    font-size: 12px;
  }
 .select_days select{
    background: #ffffff;  
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    /* background: #eaedf1; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size: .6em;
      background-position: calc(100% - 0.5em) center;
      background-repeat: no-repeat;
      position: relative;
      z-index: 2;
  }
  .select_time select{
    background: #ffffff;  
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    /* background: #eaedf1; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      background-size: .6em;
      background-position: calc(100% - 0.5em) center;
      background-repeat: no-repeat;
      position: relative;
      z-index: 2;
  }

  

  
 